.research-section {
  padding: 4rem 0;
  background-color: #f9f9f9;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 2rem;
}

.research-details,
.tools-section,
.research-outcomes,
.download-section {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

ul {
  text-align: left;
  padding-left: 1.5rem;
  margin: 1rem 0;
  list-style: disc;
}

.download-btn {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1rem;
}

.download-btn:hover {
  background-color: #0056b3;
}
.github-link {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.github-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.github-btn:hover {
  background-color: #555;
}

.github-icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  vertical-align: middle;
}
